@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

/* Reset estilos */
* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
 
}
html {
       
    height: 100%;
}
body { min-height: 100vh; }


a {
    text-decoration: none;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 15px;
}

.container-fluid {
    padding: 0;
    text-align: center;
}

/* Estilos Propios */
.width-100 {
    width: 100%;
}

.min-width-fit-content {

    min-width: fit-content;
}

.container-center {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-menu {
    background-color: black;
    color: #fff;
    height: 100px;
    width: 300px;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 8px;
}

.num-installments {
    background: black;
    color: white;
    margin-top: 25px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-inline: 5px;
    border-radius: 5px;

}



